@import "libs/reset.scss";

body {
    background-color: rgba(130, 200, 255, 1);
    font-family: sans-serif;
    header {
        h1 {
            text-align: center;
            font-size: 44px;
            font-weight: bold;
            padding: 5px;
        }
    }
    footer {
        position: relative;
        bottom: O;
        background-color: rgba(130, 200, 255, 0.5);
        text-align: center;
        font-size: 22px;
        font-weight: bold;
    }
}
